<div class="sect1">
    <h2 id="_quarkus_sftp_limitations">
        <a class="anchor" href="#_quarkus_sftp_limitations">
        </a>
        RSA Certificate Limitation:
    </h2>
    <div class="sectionbody">
        <div class="paragraph">
            <p>
                RSA certificates with SHA-2 signature algorithms are not
                supported.
                No workaround is currently available.
                RSA certificates with SHA-1 signatures are supported.
                Other certificate types (EdDSA, ECDSA, DSA) are fully supported.
            </p>
        </div>
    </div>
</div>
